*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.navigazione{
    height:60px;
    line-height: 60px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}
.fr{
    float: right;

}

.list{
    list-style: none;
}
.jumbotron{
    background-color: #0091ef6b;
    height: 600px;
}
.button-classic{
    background-color: #006bff;
    color: white;
    padding: 8px 20px;
    border: none;
}

.container-jumbotron{
    width: 1200px;
    height: 800px;
    margin:0 auto;
    padding-top:50px;
    
}



/* --------------------------------------------- */
.logo{
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.list>li{
    display: inline-block;

}
.list>li>a{
    padding: 0 10px;
   
}

.fr.button-classic{
    margin-top: 13px;
    margin-right:60px;
    margin-left: 40px;
}
.text-box{
    margin-bottom: 50px;
}

.text-box>h1{
    font-size: 59px;
}

.description{
    text-align:left;
    width: 360px;
}

.freetrial>button{
    margin-top:25px;
}

.annulla{
    margin-top: 10px;
}

.arrow{
    font-size: 30px;
    margin-top: 30px;
}

.jumbo{
    width:63%;
}

.jumbo>img{
    width:100%;
}
.greywords{
    color:lightgray;
    font-size: 14px;
}

/* --fine pagina 1 */
.container{
    width: 1000px;
    margin:0 auto;
  
}



/* ----inizio colonne---- */
.container{
    width: 1000px;
    margin:0 auto; 
}
.container-scelta{
    margin-top: 200px;
    width: 100%;
    padding-left: 50px;
}

.radio-button{
    margin-top: 50px;
}


.radio-button label{
    display: inline-block;
    padding-right: 20px;
}

.contenitore-colonne{
    width:100%;
    margin-top:40px;
    padding-left: 10px;
   
}



.colonna{
    margin-left:40px ;
    width: calc(1000px / 3 - 44px);
    border:1px solid lightgray;
    height: 980px;
    
}

.box-image{
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}


.box-intero{
    width:100%;
    padding:20px 20px ;
}

.spazio-archiviazione{
    font-size: 15px;
}


.utente::before{
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-right: 5px;
}
.utenteb::before{
    content:"\f234";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 5px;
}

.archivio::before{
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-right: 5px;
}

.condivisione::before{
    content: "\f304";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 5px;

}

.smile::before{
    content: "\f118";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-right: 5px;

}

.bordo{
    height:30px;
    width:60px;
    border-bottom:1px solid lightgray;
    margin-bottom: 40px;
}



.check>li::before{
    content: "\f00c";
    color: #0063ff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 5px;
}

.check>li{
    margin-top: 20px;
}

.uno>h2{
    margin-bottom:20px;
}
.uno>h4{
    margin-bottom:10px;
    
}


.icone{
    margin-top:20px;
    margin-bottom: 50px;
}

.icone>p{
    margin-top:20px;
    font-size: 15px;
    text-align: left;
}

.compra{
    margin-top:20px;
}
.bcolonne{
    padding:10px 40px
}
/* -----fine colonne----- */

.sezione1{
    padding-left: 50px;
}

.team{
    width:100%;
    height: 50px;
    border:1px solid lightgray ;
    text-align: center;
    line-height: 60px;
    margin-top: 100px;
  
    
}
.box-ufficiovendite{
    width:100%;
    border:1px solid lightgray;
    padding:24px 20px;
    
}

.team>i{
    text-align: center;
}
.Enterprise{
    width:70%;
    font-size: 14px;
}
.Enterprise>h2{
    margin-bottom: 20px;
}
.Enterprise>h4{
    margin-bottom: 40px;
}
.Enterprise>p{
    margin-bottom: 20px;
}

.grande{
    padding: 10px 15px;
    margin-top: 20px;
    width:30%;
    
    
}
/* ---inizio sezione 2--- */

.sezione2{
    margin-top:150px;
    padding-left: 50px;
}

.partner{
    width:50%;

}
.box-partner{
    width: 50%;
    padding:30px 40px;
}

.box-partner>p{
    margin-top: 30px;
    margin-bottom: 20px;
}

.button-white{
    border:1px solid black;
    background-color: white;
    padding: 10px 20px;
    font-size: 15px;
}
/* ---sezione3---- */

.sezione3{
    margin-top: 200px;

}
.sezione3>h1{
    margin-bottom: 30px;
    margin-left: 50px;
}

.card{
    width:calc(1000px / 3  - 40px);
    margin-left: 40px;
    height: 500px;
}

.card>img{
    width:100%;
}

.card>p{
    margin-top: 20px;
    font-size: 15px;
}

#dropboxpaper{
    text-decoration:underline ;
}

/* ----sezione4---- */
.sezione4{
    margin-top: 100px;
    padding-left: 40px;
}


.testoclienti{
    margin-bottom: 50px;
}































